body {
  background-color: pink;
  align-content: center;
}

img {
  height: 200px;
  width: 200px;
}
table,
tr,
td {
  width: 250px;
}

h4 {
  width: 100px;
}

h4,
table,
img,
tbody {
  display: block;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
  border: 1px solid black;
  margin-bottom: 25px;
}
